includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/Observability
        - app/Http/Controllers/HealthController.php
        - app/Providers/ObservabilityServiceProvider.php
        - app/Providers/HorizonServiceProvider.php
        - app/Providers/TelescopeServiceProvider.php
    level: 5
