includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - Modules
        - database
        - routes
        - tests
    excludePaths:
        - database/migrations
        - Modules/*/Database/Migrations
        - Modules/*/Resources/views
        - stubs
    level: 5
    # Errores actuales: phpstan-baseline.neon. Lo nuevo no entra al baseline.
