<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_KEY" value="base64:2fl+KTVYFkzUzEgoBW4Ia8EDbsND2KSKCKwIUkPuMcQ=" force="true"/>
        <env name="APP_URL" value="http://localhost" force="true"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array" force="true"/>
        <env name="DB_CONNECTION" value="sqlite" force="true"/>
        <env name="DB_DATABASE" value=":memory:" force="true"/>
        <env name="MAIL_MAILER" value="array" force="true"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="TELESCOPE_ENABLED" value="false" force="true"/>
        <env name="HORIZON_ENABLED" value="false" force="true"/>
        <env name="SENTRY_LARAVEL_DSN" value="" force="true"/>
        <env name="SENTRY_DSN" value="" force="true"/>
        <env name="HEALTH_ENABLED" value="true" force="true"/>
        <env name="CENTRAL_DOMAINS" value="localhost,127.0.0.1" force="true"/>
        <env name="TENANT_BASE_DOMAIN" value="localhost" force="true"/>
        <env name="TRUSTED_PROXIES" value="" force="true"/>
        <env name="PLATFORM_ADMIN_PASSWORD" value="" force="true"/>
        <env name="MEDIA_PUBLIC_DISK" value="public" force="true"/>
        <env name="MEDIA_PRIVATE_DISK" value="filemanager" force="true"/>
        <env name="MEDIA_PAYMENT_DISK" value="local" force="true"/>
        <env name="FILEMANAGER_DRIVER" value="local" force="true"/>
        <env name="HEALTH_CHECK_MINIO" value="false" force="true"/>
    </php>
</phpunit>
